<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=
      if content_for?(:title) then
        "#{yield :title} | Chocorp"
      else
        "Chocorp"
      end
      %></title>
    <meta charset="utf-8">
    <meta name="keywords" content="chocorp", "baptiste", "chocot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="chocorp.net - Baptiste Chocot">
    <meta name="author" content="Baptiste Chocot">
    <meta name="robots" content="index, follow">

    <%= render 'application/favicon' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= if content_for(:title) then
      case "#{yield :title}"
      when "Mods"
        stylesheet_link_tag 'mcmods'
      when "Resume"
        stylesheet_link_tag 'cv'
      when "Feedback"
        stylesheet_link_tag 'hnh'
      end
    end
    %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-sm-row bd-navbar">
      <a class="navbar-brand mr-0 mr-sm-2" href="/">
        <%= image_tag 'icon.svg', class: 'd-block' %>
      </a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", root_path, :class => "nav-link" + active?('home') %>
          </li>
          <li class="nav-item">
            <%= link_to "3d-printing stream", brrr_path, :class => "nav-link" + active?('brrr') %>
          </li>
        </ul>
      </div>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Mods", mcmods_path, :class => "nav-link" + active?('mcmods') %>
          </li>
          <li class="nav-item">
            <%= link_to "Resume", resume_path, :class => "nav-link" + active?('resume') %>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <%= link_to "Contact", happynothappy_path, :class => "nav-link" + active?('hnh') %>
        </li>
        <li class="nav-item">
          <a href="https://print.chocorp.net" class="nav-link active">Chocoprint</a>
        </li>
      </ul>
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
